DATABASE_URL=postgresql://kullanici:sifre@host:5432/veritabani
SECRET_KEY=tarimtakip2025
ADMIN_USER=admin
ADMIN_PASSWORD=BURAYA_SIFRE_YAZ
MAIL_USERNAME=sistemanalizigrup2iau@gmail.com
MAIL_PASSWORD=BURAYA_GMAIL_UYGULAMA_SIFRENIZI_YAZIN
